@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;0,700;1,500&display=swap");
html {
  font-size: 100%;
}

body {
  font-family: Jost;
  font-weight: 400;
}

.form {
  display: inline;
  font-family: Jost;
  font-weight: 400;
}

.navbar {
  background-color: white;
  font-family: Jost;
  font-weight: 400;
}

a {
  color: #af91ff !important;
  font-family: Jost;
  font-weight: 400;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    
    /* This bit draws the box around it */
    border:1px solid grey;
  
    /* I've used padding so you can see the edges of the elements. */
    padding:2px;
  }

  input {
    /* Tell the input to use all the available space */
    /* flex-grow:2; */
    border-radius: 10px;
    width: 900px;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
  }

input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }
  
  button {
    /* Just a little styling to make it pretty */
    border:1px solid blue;
    background:blue;
    color:white;
  }
